
.card1 {
  
    margin-top: 60px;
    margin-right: 22px;
    margin-left: 38px;
    margin-bottom: 0px;
}
.card1:hover {
  box-shadow:0 16px 26px 0 rgb(255,255,255,0.09), 0 3px 6px 0 rgb(255,255,255,0.09);
   
}
.card1 h2 {
    background-color: #6f1e1e;
    padding: .1em .3em;
    margin-top: 0;
    color: #fff;
    font-size: 1.6em;
    font-weight: normal;
    text-shadow: 0 1px 0 #777;
    -moz-box-shadow: 1px 1px 15px #999 inset;
    -webkit-box-shadow: 1px 1px 15px #999 inset;
    box-shadow: 1px 1px 15px #999 inset;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}
}td img.img-thumbnail{
  width: 143px;
  height: 92px;
  vertical-align: top;
  border-radius: 40px 40px 40px 40px;
   box-shadow: 1px 4px 2px rgba(31, 81, 125); 
  
  
}.img-avatar{
 width: 152px;
height: 152px;
vertical-align: top;
border-radius: 40px 40px 40px 40px;
 box-shadow: 1px 4px 2px rgba(31, 81, 125); 
 
  
}
td img.img-thumbnail: hover{
box-shadow:0 16px 26px 0 rgb(255,255,255,0.09), 0 3px 6px 0 rgb(255,255,255,0.09);
}


}

td img.img-thumbnailuser{
  width: 100px;
  height: 100px;
  vertical-align: top;
  border-radius: 40px 40px 40px 40px;
   box-shadow: 1px 4px 2px rgba(31, 81, 125); 
  
  
}
}.img-avatardashlogo{
 width: 50%;
height:10%;
vertical-align: top;
border-radius: 40px 40px 40px 40px;
 box-shadow: 1px 4px 2px rgba(31, 81, 125); 
 
  
}
.img-avataruser{
 width: 80px;
  height: 80px;
vertical-align: top;
border-radius: 40px 40px 40px 40px;
 box-shadow: 1px 4px 2px rgba(31, 81, 125); 
 
  
}td img.img-thumbnailuser: hover{
box-shadow:0 16px 26px 0 rgb(255,255,255,0.09), 0 3px 6px 0 rgb(255,255,255,0.09);
}

}td img.img-thumbnailhotel{
  width: 143px;
  height: 92px;
  vertical-align: top;
  border-radius: 40px 40px 40px 40px;
   box-shadow: 1px 4px 2px rgba(31, 81, 125); 
  
  
}.img-avatarhotel{
 width: 189px;
  height: 132px;
vertical-align: top;
border-radius: 40px 40px 40px 40px;
 box-shadow: 1px 4px 2px rgba(31, 81, 125); 
 
  
}
}.img-avataruser{
 width: 100px;
  height: 100px;
vertical-align: top;
border-radius: 40px 40px 40px 40px;
 box-shadow: 1px 4px 2px rgba(31, 81, 125); 
 
  
}
td img.img-thumbnailhotel: hover{
box-shadow:0 16px 26px 0 rgb(255,255,255,0.09), 0 3px 6px 0 rgb(255,255,255,0.09);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active{
    color: #fff;
    background-color: #3175b8;
    border-color: #3d8fd8
}
.modal-header {
  background: linear-gradient(to bottom, rgba(242,246,248,0.55) 0%, rgba(150, 157, 162, 0.6) 5%, rgba(181,198,208,0.87) 72%, rgba(216,225,231,0.96) 92%, rgba(216,225,231,1) 100%);
}
.modal-footer{
  border-radius: 20px 20px;
  background: linear-gradient(to bottom, rgba(242,246,248,0.55) 0%, rgba(150, 157, 162, 0.6) 5%, rgba(181,198,208,0.87) 72%, rgba(216,225,231,0.96) 92%, rgba(216,225,231,1) 100%);
}