
fieldset { padding:25px 20px 10px 25px; border: 1px solid #5e6379;margin-left: 15px; margin-bottom:16px;height: auto; width:90%;filter:alpha(opacity=50); border-radius:20px 5px;background:url(../im); box-shadow:7px 8px 16px rgba(56, 81, 128, 1);}

#idced {  

padding:7px 0px 0px 0px;  
margin-bottom:16px;height: auto; width:29%;
    color: #333;
    background: linear-gradient(to bottom, rgba(242,246,248,0.55) 0%, rgba(172, 209, 224, 0.6) 5%, rgba(181,198,208,0.87) 72%, rgba(216,225,231,0.96) 92%, rgba(216,225,231,1) 100%);
    background-color: #5e7d8f;
    border: 1px solid #637bab;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 7px 8px 16px rgba(81, 112, 170);

 /*padding:14px 0px 0px 0px; border: 1px solid #ffff;  margin-bottom:16px;height: auto; width:29%;filter:alpha(opacity=50); border-radius:22px 50px 50px 22px; box-shadow:7px 8px 16px rgba(56, 81, 128, 1);background-color: #99a9db;*/
}
#controlvista{
	display:display:none;
}

legend{display:block;width:100%;padding-left: -39px;margin-bottom:20px;font-size:21px;line-height:inherit;
	color:#232792;border-bottom:1px solid #e5e5e5;border-radius:20px 20px 20px 20px;box-shadow:7px 6px 8px rgba(56, 81, 128, 1);
	background-color: #a3acc9;text-shadow: #fff -1px 2px;
   color: #7a7b92;;
   letter-spacing: 1px;padding:-8px 27px 9px ;font-size: 18px;}
#titulo{display:block;width:100%;font-size:21px;line-height:inherit;
	color:#232792;
	text-shadow: #fff -1px 2px;
   color: #7a7b92;;
   letter-spacing: 1px;padding:-8px 27px 9px ;font-size: 18px;
}

/**===================================================**/
@font-face {
  font-family: "Bad";
        src: url("ttf/Bad.ttf");
 }
@font-face {
  font-family: "CustomFont";/*funcionan Autobahn,Babylon2,Baubau,ghostclan3d,*/
  src: url("ttf/Bad.ttf");/*No funciona BleucherRe,AutomaticaBRK*/
 }
 #nempresa:hover{ font-family:"CustomFont",bold;font-size:17px;color: #fff; text-shadow: #454581 0.1em 0.1em 0.2em  }
 .nemp:hover{ font-family:"Bad",bold;font-size:18px;color: #fff; text-shadow: #454581 0.1em 0.1em 0.2em  }
#b0{ font-family:"CustomFont",sans-serif,bold;font-size:15px;color: #13394b; text-shadow: black 0.1em 0.1em 0.2em;  }
#b1{font-family:"CustomFont",bold;font-size:25px;color: #d9dee7; text-shadow: black 0.1em 0.1em 0.2em;padding:5px;margin-right:15px;margin-left:5px; }
#b2{font-family:"Bab",sans-serif,bold;font-size:40px;color: #0039a3; text-shadow: black 0.1em 0.1em 0.2em;padding:5px;margin-right:15px;margin-left:5px; }
a #b1:hover{color:#23527c; font-family:"Bab",sans-serif,bold;font-size:27px;text-shadow: black 0.1em 0.1em 0.2em;}*/
/**===================================================**/

/*legen
d{ 
display: block;
width: 100%;
padding: 0;
margin-bottom: 20px;
font-size: 21px;
line-height: inherit;
color: #1a2469;
border-radius:20px 5px; }
*/